
.tlt-btn {
    font-weight: 700 !important;
    border-radius: 50px !important;
    text-transform: none!important;
    margin-top: 10px !important;
    color: hsl(0, 0%, 46%) !important;
    box-shadow: none!important;
}

.tlt-btn:focus {
    outline: none;
}

.tlt-btn.main {
    height: 48px!important;
    font-size: 18px;
    padding: 24px;
}

.tlt-btn.main.active {
    background-color: rgb(29, 161, 242) !important;
    color: white !important;
}

.tlt-btn.main.active:hover {
    background-color: #1976d2 !important;
}

.tlt-btn.positive-btn.active {
    border: 1px solid rgb(29, 161, 242) !important;
    background-color: white !important;
    color: rgb(29, 161, 242)!important;
}

.tlt-btn.positive-btn.active:hover {
    background-color: #e3f2fd !important;
}

.tlt-btn.negative-btn.active {
    border: 1px solid #ef5350 !important;
    color: #ef5350!important;
    background-color: white!important;
}

.tlt-btn.negative-btn.active:hover {
    background-color: #ffcdd2 !important;
}